In [2]:
import pandas as pd

In [3]:
# Further cleaning required 
property_df = pd.read_csv('redfin_cleaned_v1.csv')
property_df.info

<bound method DataFrame.info of                                                     url      type      price  \
0     https://redfin.com/IL/Chicago/155-N-Harbor-Dr-...  for_sale   465000.0
1     https://redfin.com/IL/Chicago/222-N-Columbus-D...  for_sale   289000.0
2     https://redfin.com/IL/Chicago/363-E-Wacker-Dr-...  for_sale  1950000.0
3     https://redfin.com/IL/Chicago/200-N-Dearborn-S...  for_sale   255000.0
4     https://redfin.com/IL/Chicago/400-E-Randolph-S...  for_sale   389000.0
...                                                 ...       ...        ...
4752  https://redfin.com/IL/Chicago/757-N-Orleans-St...  for_sale   409990.0
4753  https://redfin.com/IL/Chicago/474-N-Lake-Shore...  for_sale   275000.0
4754  https://redfin.com/IL/Chicago/353-W-Chicago-Av...  for_sale   799995.0
4755  https://redfin.com/IL/Chicago/1841-S-Calumet-A...  for_sale   420000.0
4756  https://redfin.com/IL/Chicago/1600-S-Indiana-A...  for_sale    19999.0

       sq_ft  price_per_sq_ft   latitude  longitude  beds  baths  \
0      998.0            466.0  41.884895 -87.615398   1.0    1.5
1      611.0            473.0  41.886684 -87.621214   1.0    1.0
2     2260.0            863.0  41.887451 -87.617460   2.0    2.5
3      775.0            329.0  41.886088 -87.630010   1.0    1.0
4      650.0            598.0  41.885003 -87.616864   0.0    1.0
...      ...              ...        ...        ...   ...    ...
4752   983.0            417.0  41.896301 -87.636563   1.0    1.0
4753   741.0            371.0  41.890837 -87.614590   1.0    1.0
4754     NaN              NaN  41.896348 -87.637744   3.0    3.0
4755  1210.0            347.0  41.857321 -87.618908   2.0    2.0
4756     NaN              NaN  41.859895 -87.623009   NaN    NaN

                                               address  ... property_type  \
0             155 N Harbor Dr #4004, Chicago, IL 60601  ...   Condo/Co-op
1           222 N Columbus Dr #2304, Chicago, IL 60601  ...   Condo/Co-op
2             363 E Wacker Dr #3103, Chicago, IL 60601  ...   Condo/Co-op
3           200 N Dearborn St #4608, Chicago, IL 60601  ...   Condo/Co-op
4           400 E Randolph St #1811, Chicago, IL 60601  ...   Condo/Co-op
...                                                ...  ...           ...
4752         757 N Orleans St #1303, Chicago, IL 60654  ...   Condo/Co-op
4753      474 N Lake Shore Dr #3404, Chicago, IL 60611  ...   Condo/Co-op
4754      353 W Chicago Ave Unit 4E, Chicago, IL 60654  ...   Condo/Co-op
4755       1841 S Calumet Ave #2202, Chicago, IL 60616  ...   Condo/Co-op
4756  1600 S Indiana Ave Unit P-100, Chicago, IL 60616  ...       Parking

          amenities.hoa_dues     amenities.community amenities.county  \
0       $905 monthly HOA fee            Harbor Point             Cook
1       $654 monthly HOA fee  Park Millennium Condos             Cook
2     $1,234 monthly HOA fee              CHI - Loop             Cook
3       $625 monthly HOA fee              CHI - Loop             Cook
4       $613 monthly HOA fee              CHI - Loop             Cook
...                      ...                     ...              ...
4752    $731 monthly HOA fee   CHI - Near North Side             Cook
4753    $748 monthly HOA fee   CHI - Near North Side             Cook
4754    $348 monthly HOA fee   CHI - Near North Side             Cook
4755  $1,473 monthly HOA fee       Museum Park Place             Cook
4756                     NaN   CHI - Near South Side             Cook

     amenities.built amenities.property_type amenities.heating_cooling  \
0      Built in 1974                   Condo                   Has A/C
1      Built in 2002                   Condo                   Has A/C
2      Built in 2021                   Condo                   Has A/C
3      Built in 1989                   Condo                   Has A/C
4      Built in 1963                   Condo                   Has A/C
...              ...                     ...                       ...
4752   Built in 2008                   Condo                   Has A/C
4753   Built in 1991                   Condo                   Has A/C
4754   Built in 1920                   Condo                   Has A/C
4755   Built in 2006                   Condo                   Has A/C
4756   Built in 2005                 Parking                       NaN

                       amenities.laundry amenities.parking amenities.lot_size
0     In-unit laundry (washer and dryer)               NaN                NaN
1     In-unit laundry (washer and dryer)    1 garage space                NaN
2     In-unit laundry (washer and dryer)               NaN                NaN
3                                    NaN               NaN                NaN
4                         Shared laundry    1 garage space                NaN
...                                  ...               ...                ...
4752  In-unit laundry (washer and dryer)    1 garage space                NaN
4753  In-unit laundry (washer and dryer)    1 garage space                NaN
4754  In-unit laundry (washer and dryer)   1 parking space                NaN
4755            Washer and dryer hookups    1 garage space                NaN
4756                                 NaN   1 parking space                NaN

[4757 rows x 22 columns]>

In [3]:
property_df.describe()

,price,sq_ft,price_per_sq_ft,latitude,longitude,beds,baths,year_built
count,4.746000e+03,2929.000000,2929.000000,4715.000000,4715.000000,4067.000000,4054.000000,3843.000000
mean,5.718354e+05,1995.126323,304.478320,41.847625,-87.652105,3.866978,2.566601,1955.102264
std,8.561368e+05,2560.879255,193.436577,0.083284,0.052739,3.977836,2.401605,45.798374
min,2.000000e+02,372.000000,1.000000,41.630254,-87.844916,0.000000,1.000000,1228.000000
25%,1.949000e+05,1050.000000,167.000000,41.777234,-87.682786,2.000000,1.500000,1915.000000
50%,3.299000e+05,1407.000000,271.000000,41.872552,-87.639948,3.000000,2.000000,1957.000000
75%,5.990000e+05,2193.000000,388.000000,41.900878,-87.621212,5.000000,3.000000,2002.000000
max,2.100000e+07,66000.000000,1409.000000,42.021796,-87.528950,75.000000,53.000000,2026.000000

In [9]:
property_df.columns.to_list()

['url',
 'type',
 'price',
 'sq_ft',
 'price_per_sq_ft',
 'latitude',
 'longitude',
 'beds',
 'baths',
 'address',
 'tags',
 'year_built',
 'property_type',
 'amenities.hoa_dues',
 'amenities.community',
 'amenities.county',
 'amenities.built',
 'amenities.property_type',
 'amenities.heating_cooling',
 'amenities.laundry',
 'amenities.parking',
 'amenities.lot_size']

In [14]:
property_df['property_type'].unique()

array(['Condo/Co-op', 'Parking', 'Townhouse', 'Multi-Family (5+ Unit)',
       'Multi-Family (2-4 Unit)', 'Vacant Land',
       'Single Family Residential', nan], dtype=object)

In [9]:
# Need to clean out Parking and Vacant Lot
# Resource:
# https://saturncloud.io/blog/how-to-remove-rows-with-specific-values-in-pandas-dataframe/
property_df_clean1 = property_df.drop(property_df[property_df['property_type'] == 'Parking'].index)
property_df_clean2 = property_df_clean1.drop(property_df_clean1[property_df_clean1['property_type'] == 'Vacant Land'].index)

In [10]:
# Check to see if data is cleaned 
property_df_clean2['property_type'].unique()

array(['Condo/Co-op', 'Townhouse', 'Multi-Family (5+ Unit)',
       'Multi-Family (2-4 Unit)', 'Single Family Residential', nan],
      dtype=object)

In [13]:
property_df_clean2.info()
cleaned_entry_count = len(property_df) - len(property_df_clean2)
print(f'\n {cleaned_entry_count} entries cleaned from original DF')

<class 'pandas.core.frame.DataFrame'>
Index: 4069 entries, 0 to 4755
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        4069 non-null   object
 1   type                       4069 non-null   object
 2   price                      4069 non-null   float64
 3   sq_ft                      2929 non-null   float64
 4   price_per_sq_ft            2929 non-null   float64
 5   latitude                   4032 non-null   float64
 6   longitude                  4032 non-null   float64
 7   beds                       4067 non-null   float64
 8   baths                      4054 non-null   float64
 9   address                    4034 non-null   object
 10  tags                       3113 non-null   object
 11  year_built                 3719 non-null   float64
 12  property_type              4055 non-null   object
 13  amenities.hoa_dues         1977 non-null   object
 14  amenities.community        4034 non-null   object
 15  amenities.county           4069 non-null   object
 16  amenities.built            3720 non-null   object
 17  amenities.property_type    4069 non-null   object
 18  amenities.heating_cooling  2533 non-null   object
 19  amenities.laundry          2108 non-null   object
 20  amenities.parking          3123 non-null   object
 21  amenities.lot_size         1637 non-null   object
dtypes: float64(8), object(14)
memory usage: 731.1+ KB

 688 entries cleaned from original DF

In [14]:
property_df_clean2.to_csv('redfin_cleaned_v2.csv', index = False)